:root {
    --ios-system-body-background:#f5f5f7;
    --ios-system-primary: #e82656;
    --ios-system-gray: #8E8E93;
    --ios-system-gray2: #AEAEB2;
    --ios-system-gray6: #F2F2F7;
    --ios-system-gray0: #1d1d1d;
    
    --ios-system-btn-active: #34a99d;
    --ios-label-primary: #222222;
    --ios-label-secondary: #3C3C4399;
    --ios-system-background: #FFFFFF;
    --ios-card-background: rgba(255, 255, 255, 0.8);
    --ios-blur-intensity: 10px;

}
.darkmode {
    --ios-system-body-background:black;
    --ios-system-primary: #e82656;
    --ios-system-gray: #8E8E93;
    --ios-system-gray2: #636366;
    --ios-system-gray6: #252525;
    --ios-system-btn-active: #3db9d3;
    --ios-label-primary: #9f9f9fcf;
    --ios-label-secondary: #b4b4b4cf;
    --ios-system-background: #121212;
    --ios-card-background: rgba(30, 30, 30, 0.8);
}